= form_for(@contact_message, :html => { class: 'form-horizontal'})do |f|
  .form-inputs
    .row.contact-form
      .col-sm-6
        .input-group
          .input-group-addon
            %i.glyphicon.glyphicon-user
          = f.text_field :name, placeholder: 'Name', required: true, class: 'form-control'
        .input-group
          .input-group-addon
            %i.glyphicon.glyphicon-envelope
          = f.email_field :email, placeholder: 'Email',required: true, class: 'form-control'
        .input-group
          .input-group-addon
            %i.glyphicon.glyphicon-phone
          = f.text_field :phone, placeholder: 'Phone', class: 'form-control'
      .col-sm-6
        = f.text_area :message, placeholder: 'Type a message here...',required: true, rows: 6, class: 'form-control'
    .form-actions.text-center
      = f.button 'Send Message', class: 'btn btn-info btn-lg'