.jumbotron{:style => "margin-top: 70px;"}
  .container
    .text-center
      %h1{:style => "font-size: 250%; line-height: 120%; color: #383938; font-weight: lighter;"} Have a web or mobile project?
      %p We’d love to design & develop your next application.
      %p= link_to 'Contact us about your project', '#', :class => 'link-button'

#dark.jumbotron.hidden-sm
  .container.text-center
    %h3 some examples of our work
    .row.image-shadow.img-responsive.img-rounded
      .col-sm-4= link_to image_tag('image.jpg'), '#'
      .col-sm-4= link_to image_tag('image.jpg'), '#'
      .col-sm-4= link_to image_tag('image.jpg'), '#'
    %p= link_to content_tag(:i, nil, :class => 'glyphicon glyphicon-eye-open') + ' See more', '#', :class => 'link-button'

.jumbotron
  .container
    .row.text-center
      %p — About GuavaIT —
      .col-lg-12.img-responsive= image_tag('all-devises.jpg')
      %p We use responsive design to get your project looking great on just about any screen.

#grey.jumbotron
  .container
    .text-center
      %p{:style => "font-size: 200%; line-height: 110%; color: #3b3b3b"} design & development services in one place
      %p You'll love dealing with just one company bringing experience, creativity and a strategic perspective to your web and mobile applications.
      %p= link_to 'Read more about our services', '#', :class => 'link-button'
