.container
  .page-content
    = link_to 'New Post', new_post_path, :class => 'btn btn-primary'
    %h1 Listing posts
    %table.table-bordered
      %thead
        %tr
          %th Title
          %th Category
          %th Content
          %th Active
          %th Action
      %tbody
        - @posts.each do |post|
          %tr
            %td= post.title
            %td= post.category
            %td= post.content
            %td= post.active
            %td
              = link_to 'Show', post
              = link_to 'Edit', edit_post_path(post)
              = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
    %br
    %a.btn.btn-primary.btn-lg{"data-toggle" => "modal", :href => "#myModal"} Launch demo modal
    #myModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4.modal-title Modal title
          .modal-body
            \...
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-primary{:type => "button"} Save changes
